<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('components/exstyles') %>
    <link rel="stylesheet" href="/css/blog.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>
      Blog Indahlia: Buka Wawasan Seputar Dunia Lingkungan Hidup Terkini
    </title>
  </head>
  <body>
    <%- include('components/navbar',{status}) %>
    <div class="hero">
      <div class="content">
        <h1>Artikel lingkungan</h1>
        <p>
          Temukan berita terupdate apa saja yang terjadi di Indonesia terkait
          lingkungan hidup dan tambah wawasan anda mengenai inovasi di bidang
          teknologi bagi lingkungan
        </p>
      </div>
    </div>
    <section class="layout head">
      <div class="left">
        <div class="post">
          <img src="/img/irigasi.jpg" alt="" />
          <div class="desc">
            <span class="category">Economy</span>
            <h4>Kementerian PUPR Optimistis Bangun Irigasi 1 Juta Hektare</h4>
            <p>
              Kementerian Pekerjaan Umum dan Perumahan Rakyat (PUPR) menargetkan
              pembangunan jaringan irigasi baru seluas 1 juta hektare dan
              merehabilitasi irigasi seluas 3 juta hektare pada periode
              2015-2019
            </p>
          </div>
        </div>
      </div>
      <div class="right">
        <h3>kategori</h3>
        <div class="line"></div>
        <ul class="labels">
          <li>bencana</li>
          <li>inovasi</li>
          <li>tokoh teladan</li>
          <li>edukasi</li>
          <li>wisata</li>
        </ul>
      </div>
    </section>
    <section class="layout tools">
      <div class="top">
        <div class="switch">
          <div class="box" target="newest">
            <span class="ans"><i class="bi bi-clock-history"></i>Terbaru</span>
          </div>
          <div class="box" target="trend">
            <span class="ans"><i class="bi bi-fire"></i>Trending</span>
          </div>
        </div>
        <div class="search">
          <input
            type="text"
            placeholder="Cari Artikel Terkini"
            class="search-bar"
            aria-label="Search"
          />
          <button class="search-button"><i class="bi bi-search"></i></button>
        </div>
      </div>
      <h3>artikel terbaru</h3>
    </section>

    <section class="layout main">
      <% post.forEach(e => { %>
      <div class="post" id="<%= e.id %>">
        <a href="<%= `/blog/post/${e.slug}&${e.id}` %>">
          <img src="<%= e.img %>" alt="" />
          <div class="desc">
            <span class="category"><%= e.kategori %></span>
            <h4><%= e.judul %></h4>
            <p>
              <%= e.cuplikan || `Lorem ipsum, dolor sit amet consectetur
              adipisicing elit. Id quia facere tempora hic sit.` %>
            </p>
            <span class="author"><%= dateFormat(e.timestamp) %></span>
          </div>
        </a>
      </div>
      <% }) %>
    </section>
    <%- include('components/float') %> <%- include('components/footer') %>
    <script src="/js/navbar.js"></script>
  </body>
</html>
