<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&family=Sansita:ital,wght@0,400;0,700;0,800;1,800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/blog.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>blog</title>
  </head>
  <body>
    <%- include('components/navbar') %>
    <div class="hero">
      <div class="content">
        <h1>Artikel lingkungan</h1>
        <p>
          Temukan berita terupdate apa saja yang terjadi di Indonesia terkait
          lingkungan hidup dan tambah wawasan anda mengenai inovasi di bidang
          teknologi bagi lingkungan
        </p>
      </div>
    </div>
    <section class="head">
      <div class="left">
        <div class="post">
          <img src="/img/irigasi.jpg" alt="" />
          <div class="desc">
            <h4>Kementerian PUPR Optimistis Bangun Irigasi 1 Juta Hektare</h4>
            <p>
              Kementerian Pekerjaan Umum dan Perumahan Rakyat (PUPR) menargetkan
              pembangunan jaringan irigasi baru seluas 1 juta hektare dan
              merehabilitasi irigasi seluas 3 juta hektare pada periode
              2015-2019
            </p>
          </div>
        </div>
      </div>
      <div class="right">
        <h3>kategori</h3>
        <ul class="labels">
          <li>bencana</li>
          <li>inovasi</li>
          <li>tokoh teladan</li>
          <li>edukasi</li>
          <li>wisata</li>
        </ul>
      </div>
    </section>
    <section class="middle">
      <div class="search-con">
        <input
          type="text"
          placeholder="Cari Artikel Terkini"
          class="search-bar"
          aria-label="Search"
        />
        <button class="search-button"><i class="bi bi-search"></i></button>
      </div>
      <h2>artikel terbaru</h2>
    </section>

    <section class="main">
      <% post.forEach(e => { %>
      <div class="post" id="<%= e.id %>">
        <a href="<%= `/blog/post/${e.slug}&${e.id}` %>">
          <img src="<%= e.img %>" alt="" />
          <div class="desc">
            <h4><%= e.judul %></h4>
            <p><%= e.cuplikan %></p>
          </div>
        </a>
      </div>
      <% }) %> <% post.forEach(e => { %>
      <div class="post" id="<%= e.id %>">
        <a href="<%= `/blog/post/${e.slug}&${e.id}` %>">
          <img src="<%= e.img %>" alt="" />
          <div class="desc">
            <h4><%= e.judul %></h4>
            <p><%= e.cuplikan %></p>
          </div>
        </a>
      </div>
      <% }) %>
    </section>
    <%- include('components/footer') %>
    <script src="/js/navbar.js"></script>
  </body>
</html>
