<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.title %></title>
    <%- include('components/exstyles') %>
    <link rel="preconnect" href="/cdn/" />
    <link rel="preconnect" href="https://www.youtube.com/embed/" crossorigin />
    <link rel="preconnect" href="/cdn/" crossorigin />
    <link rel="prefetch" href="/cdn/" />
    <link rel="stylesheet" href="/css/detail.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <%- include('components/navbar',{status}) %>
    <div
      class="hero"
      style="
        background-image: linear-gradient(
            to bottom,
            rgb(0, 0, 0),
            rgba(0, 0, 0, 0.342) 55%,
            rgb(0, 0, 0)
          ),
          url('<%= data.banner%>');
      "
    >
      <div class="content"></div>
      <div class="thumbnail">
        <img src="<%= data.thumbnail %>" alt="Thumbnail Kelas" />
      </div>
    </div>

    <section class="layout detail">
      <div class="silabus">
        <h2><%= data.title %></h2>
        <h3>Detail Kelas</h3>
        <div class="about">
          <div class="box">
            <span class="what">Materi </span>
            <span class="ans"
              ><i class="bi bi-layout-text-sidebar"></i><%= list.length %></span
            >
          </div>
          <div class="box">
            <span class="what">Tema </span>
            <span class="ans"
              ><i class="bi bi-lightbulb"></i><%= data.category %></span
            >
          </div>
          <div class="box">
            <span class="what">Kesulitan </span>
            <span class="ans">
              <i class="bi bi-graph-up"></i> <%= data.difficulty %></span
            >
          </div>
          <div class="box">
            <span class="what">Peserta </span>
            <span class="ans"> <i class="bi bi-person"></i>5 Orang</span>
          </div>
        </div>
        <h3>Silabus Kelas</h3>
        <div class="main"><%- body %></div>
        <div class="summary">
          <div class="head">
            <span>Rangkuman AI</span><i class="bi bi-stars"></i>
          </div>
          <p><%= data.summary %></p>
        </div>
        <h3>Mentor</h3>
        <div class="mentor">
          <div class="header">
            <img src="/img/leaf.jpg" alt="Mentor Photo" class="profile-photo" />
            <div class="info">
              <h6><%= data.username %></h6>
              <p>Edukator</p>
            </div>
          </div>
          <div class="desc">
            <p>Saya setiap hari selalu rajin</p>
            <a
              href="https://www.linkedin.com/in/ryancurtis"
              class="mentor-contact"
            >
              <button class="small">Kontak</button>
            </a>
          </div>
        </div>
      </div>
      <div class="info">
        <h3>Video Pembuka</h3>
        <iframe
          src="<%= data.youtube %>"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <h3>Daftar Materi</h3>
        <ul class="step">
          <% list.forEach(function(item) { %>
          <a
            href="/workshop/class/<%= data.classId %>/lesson/<%= item.lessonId %>"
          >
            <li><%= item.judul %></li>
          </a>
          <% }); %>
        </ul>
        <h3>Gabung Kelas Ini</h3>
        <p>
          Dapatkan ilmu yang berharga tentang lingkungan hidup untuk membuka
          wawasan anda dengan gratis tanpa biaya, segera join sekarang, semoga
          menjadi ilmu yang berguna dan bermanfaat
        </p>
        <a href="/class/join/">
          <button>Join Kelas</button>
        </a>
      </div>
    </section>
    <%- include('components/float') %> <%- include('components/footer') %>

    <script src="/js/navbar.js"></script>
    <script></script>
  </body>
</html>
