<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.title %></title>
    <%- include('components/exstyles') %>
    <link rel="preconnect" href="/cdn/" />
    <link rel="preconnect" href="https://www.youtube.com/embed/" crossorigin />
    <link rel="preconnect" href="/cdn/" crossorigin />
    <link rel="prefetch" href="/cdn/" />
    <link rel="stylesheet" href="/css/detail.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <%- include('components/navbar') %>
    <div class="hero">
      <div class="content"></div>
      <div class="thumbnail">
        <img src="/img/leaf.jpg" alt="Thumbnail Kelas" />
      </div>
    </div>

    <section class="layout detail">
      <div class="silabus">
        <h2><%= data.title %></h2>
        <div class="switch">
          <div class="box" target="materi">
            <span class="ans"
              ><i class="bi bi-journal-bookmark-fill"></i>Materi</span
            >
          </div>
          <div class="box" target="quiz">
            <span class="ans"><i class="bi bi-calculator"></i>Quiz</span>
          </div>
          <div class="box" target="diskusi">
            <span class="ans"
              ><i class="bi bi-chat-left-text"></i> Diskusi</span
            >
          </div>
        </div>
        <div class="tray materi">
          <iframe
            src="https://www.youtube.com/embed/kqco4YpJb7U?si=X0V9dEFngXzWwycP"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <%- body %>
        </div>
        <div class="tray quiz hidden"></div>
        <div class="tray diskusi hidden"></div>
        <h3>Mentor</h3>
        <div class="mentor">
          <div class="header">
            <img src="/img/leaf.jpg" alt="Mentor Photo" class="profile-photo" />
            <div class="info">
              <h6>Goat Yafi Santos</h6>
              <p>Penghuni Puncak EPL</p>
            </div>
          </div>
          <div class="desc">
            <p>
              Saya setiap hari selalu rajin membuka jibas sebagai sarapan Lorem
              ipsum dolor sit amet, consectetur adipisicing.
            </p>
            <a
              href="https://www.linkedin.com/in/ryancurtis"
              class="mentor-contact"
            >
              <button class="small">Kontak</button>
            </a>
          </div>
        </div>
      </div>
      <div class="info">
        <h3>Daftar Materi</h3>
        <ul class="step">
          <% list.forEach(function(item) { %>
          <li><%= item.title %></li>
          <% }); %>
        </ul>
      </div>
    </section>
    <%- include('components/footer') %>

    <script src="/js/navbar.js"></script>
    <script src="/js/tray.js"></script>
    <script></script>
  </body>
</html>
