<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('components/exstyles') %>
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/workshop.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>
      Pelatihan Skill LIngkungan Hidup: Buka Hati Anda Perluas Wawasan
      Tingkatkan Kepedulian
    </title>
  </head>
  <body>
    <%- include('components/navbar',{status}) %>
    <div class="hero">
      <div class="content">
        <h1>Pelatihan Ilmu Lingkungan</h1>
        <p>
          Ikuti pelatihan tentang lingkungan hidup dari kami untuk menambah
          wawasan anda serta menambah skill yang berguna untuk kehidupan
        </p>
      </div>
    </div>
    <section class="layout tools">
      <div class="top">
        <div class="search">
          <input
            type="text"
            placeholder="Cari Artikel Terkini"
            class="search-bar"
            aria-label="Search"
          />
          <button class="search-button"><i class="bi bi-search"></i></button>
        </div>
      </div>
    </section>
    <section class="layout container">
      <!-- Card 1 -->
      <% post.forEach(e => { %>
      <div class="card">
        <img
          src="<%= e.thumbnail %>"
          alt="Course Thumbnail"
          class="card-image"
        />
        <div class="card-content">
          <p class="author">Oleh <%= e.username %></p>
          <h3><%= e.judul %></h3>
          <div class="info">
            <p><%= e.difficulty %> &bull; <%= e.category %></p>
            <p>5 Siswa &bull; 2 Modul</p>
          </div>
          <div class="rating">
            <a href="/workshop/class/detail/<%= e.classId %>">
              <button class="small">detail</button>
            </a>
          </div>
        </div>
      </div>
      <% }) %>
    </section>
    <section class="layout promotion">
      <div class="feature">
        <h2>Bantu Pulihkan Lingkungan dengan Ilmu Pengetahuan</h2>
        <p>
          Keuntungan yang anda dapatkan ketika belajar melalui Indahlia Workshop
          antara lain
        </p>
        <ul>
          <li>100% Gratis</li>
          <li>Tersedia Materi yang Lengkap</li>
          <li>Evaluasi dan Diskusi</li>
        </ul>
      </div>
      <div class="review">
        <div class="review-card">
          <p>
            Saya mulai menyadari betapa pentingnya ilmu teknik lingkungan,
            meskipun hanya dasar namun bisa dikembangkan ke arah yang lebih baik
          </p>
          <div class="star">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <span
            >Arifin Husain &bull; <i>Kelas Pengantar Teknik LIngkungan</i></span
          >
        </div>
        <div class="review-card">
          <p>
            Bagus, Saya mendapat inspirasi untuk mengolah semua botol bekas yang
            ada di rumah, mantappp
          </p>
          <div class="star">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <span
            >Nur Fitria &bull; <i>Kelas Mengolah Plastik Menjadi Cuan</i></span
          >
        </div>
      </div>
      <div class="quote">
        <img src="/img/mangrove.jpg" alt="" />
        <blockquote>
          Warisan paling istimewa bagi generasi berikutnya adalah lingkungan
          yang lestari dan terjaga
          <span>~ Anonymous</span>
        </blockquote>
      </div>
    </section>
    <%- include('components/float') %> <%- include('components/footer') %>
    <script src="/js/navbar.js"></script>
  </body>
</html>
